@model IEnumerable<psi1.Models.TeamViewModel>

@{
    ViewData["Title"] = "Browse Teams";
}

<h2>Browse Teams</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Team Name</th>
            <th>Privacy</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var team in Model)
    {
        <tr>
            <td>@team.Id</td>
            <td>@team.TeamName</td>
            <td>@team.Privacy</td>
        </tr>
    }
    </tbody>
</table>