@{
    ViewData["Title"] = "Home";
}

<div class="container text-center">
    <h1 class="mb-4">Connect through music!</h1>
    <p class="mb-5">Select an option:</p>

    <div class="d-flex justify-content-center gap-4">
        <a class="option-box option-colour3" asp-controller="Home" asp-action="CreateTeam">
            Create a Team
        </a>
        <a class="option-box option-colour1" asp-controller="Home" asp-action="BrowseTeams">
            Browse Public Teams
        </a>
        <a class="option-box option-colour2" asp-controller="Home" asp-action="JoinTeam">
            Join with Code
        </a>
    </div>
</div>
